/* =============================== google fonts =============================== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* =============================== root variables =============================== */
:root {
  /* ====================== colors ====================== */
  --primary-black: #000000;
  --primary-white: #f5f5f5;
  --secondary-white: #e6e6e6;
  --lightgrey: rgba(255, 255, 255, 0.1);
  --darkgrey: #4f4f4f;
  --feedtext: #a8a8a8;
  --blue: #006bb0;
  --popup: #262626;
  --popuptext: #e7e7e7;
  --gradient: #8a3af6 #ffc344 #ec7835 #fb367c;
  /* ====================== border radius ====================== */
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  /* ====================== padding ====================== */
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  /* ====================== box shadow ====================== */
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* appearance: none; */
  text-decoration: none;
  list-style-type: none;
  outline: 0;
  border: 0;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  background: var(--primary-black);
  color: var(--primary-white);
}

a {
  color: var(--primary-white);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

p {
  color: var(--secondary-white);
}

.parentcontainer {
  display: grid;
  grid-template-columns: 20rem auto 20rem;
  gap: 1rem;
  width: 99%;
  margin: 0 auto;
  position: relative;
  min-height: 100vh;
}

/* ====================== sidebar menu ====================== */
.sidebarmenu {
  border-right: 1px solid var(--lightgrey);
  padding: var(--card-border-radius) var(--card-padding);
}

.sidebarlinkscontainer {
  padding: var(--card-border-radius) 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.sidebarlinks {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;
  padding: var(--border-radius-2);
  border-radius: 10px;
}

.sidebarlinks:hover {
  background: var(--lightgrey);
}

.profilepicsidebar {
  height: 2rem;
  width: 2rem;
  border-radius: 50px;
}

.sidebarlinktext {
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: capitalize;
}

.activetab {
  font-weight: 700;
}

.moreoptionspopupcontainer {
  display: none;
  background-color: var(--popup);
  color: var(--popuptext);
  padding: var(--border-radius-3);
  border-radius: 20px;
  position: absolute;
  bottom: 6rem;
  left: 2rem;
}

.moreoptionspopupcontainer.openclose {
  display: block;
}

.moreoptionspopupcontainer .sidebarlinktext {
  font-size: 0.9rem;
}

.popuptopbottombars {
  margin: 1rem auto;
}

.popuptopbottombars::before {
  content: "";
  background-color: var(--darkgrey);
  height: 3px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 7rem;
  left: 0;
}

.popuptopbottombars::after {
  content: "";
  background-color: var(--darkgrey);
  height: 3px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 11rem;
  left: 0;
}

/* ====================== sidebar menu ====================== */
.suggestionsection {
  border-left: 1px solid var(--lightgrey);
  padding: var(--card-border-radius) var(--card-padding);
}

.loggedinuserprofilecontainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loggedinuserdetailscontainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoutswitchprofile {
  color: var(--blue);
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.logoutswitchprofile:hover {
  color: var(--primary-white);
}

.loggedinusernametitle {
  color: var(--secondary-white);
  text-transform: capitalize;
  font-size: 0.9rem;
}

.loggedinusername {
  font-size: 1rem;
}

.usersuggestionprofilescontainer {
  margin: var(--card-border-radius) 0;
}

.usersuggestionprofileheadline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.usersuggestionheadline {
  color: var(--feedtext);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.9rem;
}

.seeallbtn {
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.seeallbtn:hover {
  color: var(--feedtext);
}
