/* =============================== google fonts =============================== */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

/* =============================== root variables =============================== */
:root {
  /* ====================== colors ====================== */
  --primary-black: #000000;
  --primary-white: #f5f5f5;
  --secondary-white: #e6e6e6;
  --lightgrey: rgba(255, 255, 255, 0.1);
  --darkgrey: #4f4f4f;
  --feedtext: #a8a8a8;
  --blue: #006bb0;
  --popup: #262626;
  --popuptext: #e7e7e7;
  --lineargradient: 120deg, #8a3af6, #ffc344, #ec7835, #fb367c;
  /* ====================== border radius ====================== */
  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;
  /* ====================== padding ====================== */
  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  /* ====================== box shadow ====================== */
  --box-shadow: 0 2rem 3rem var(--feedtext);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* appearance: none; */
  text-decoration: none;
  list-style-type: none;
  outline: 0;
  border: 0;
}

html {
  font-size: 14px;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  font-size: 0.88rem;
  user-select: none;
  overflow-x: hidden;
  background: var(--primary-black);
  color: var(--primary-white);
}

a {
  color: var(--primary-white);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

p {
  color: var(--secondary-white);
}

.parentcontainer {
  display: grid;
  grid-template-columns: 20rem auto 20rem;
  gap: 1rem;
  width: 99%;
  margin: 0 auto;
  position: relative;
  /* min-height: 100vh; */
}

/* ====================== sidebar menu ====================== */
.sidebarmenu {
  border-right: 1px solid var(--lightgrey);
  padding: var(--card-border-radius) var(--card-padding);
}

.sidebarlinkscontainer {
  padding: var(--card-border-radius) 0 0;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.sidebarlinks {
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: all 0.3s ease;
  padding: var(--border-radius-2);
  border-radius: 10px;
}

.sidebarlinks:hover {
  background: var(--lightgrey);
}

.sidebarlinks .photobox .profilepic {
  height: 2rem;
  width: 2rem;
  border-radius: 50px;
  border: 2px solid var(--primary-black);
}

.loggedinuserprofilecontainer .photobox .profilepic {
  height: 3rem;
  width: 3rem;
  border-radius: 50px;
  border: 2px solid var(--primary-black);
}

.sidebarlinktext {
  font-size: 1.2rem;
  font-weight: normal;
  text-transform: capitalize;
}

.activetab {
  font-weight: 700;
}

.moreoptionspopupcontainer {
  display: none;
  background-color: var(--popup);
  color: var(--popuptext);
  padding: var(--border-radius-3);
  border-radius: 20px;
  position: fixed;
  bottom: 6rem;
  left: 2rem;
}

.moreoptionspopupcontainer.openclose {
  display: block;
}

.moreoptionspopupcontainer .sidebarlinktext {
  font-size: 0.9rem;
}

.popuptopbottombars {
  margin: 1rem auto;
}

.popuptopbottombars::before {
  content: "";
  background-color: var(--darkgrey);
  height: 3px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 7rem;
  left: 0;
}

.popuptopbottombars::after {
  content: "";
  background-color: var(--darkgrey);
  height: 3px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: 11rem;
  left: 0;
}

/* ====================== sidebar menu ====================== */
.feedsidebarsection {
  border-left: 1px solid var(--lightgrey);
  padding: var(--card-border-radius) var(--card-padding);
  position: relative;
}

.loggedinuserprofilecontainer,
.usersuggestion-profilecard {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loggedin-userdetails-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logoutswitchprofile {
  color: var(--blue);
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.logoutswitchprofile:hover {
  color: var(--primary-white);
}

.loggedinusernametitle {
  color: var(--feedtext);
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: text;
}

.loggedinusername {
  font-size: 1rem;
  cursor: pointer;
}

.usersuggestionprofilescontainer {
  margin: var(--card-border-radius) 0;
}

.usersuggestionprofileheadline {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.usersuggestionheadline {
  color: var(--feedtext);
  text-transform: capitalize;
  font-weight: bold;
  font-size: 0.9rem;
}

.seeallbtn {
  font-weight: bold;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

.seeallbtn:hover {
  color: var(--feedtext);
}

.users-suggestion-profile-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.users-suggestion-profile-container .loggedinusernametitle {
  font-size: 0.8rem;
}

.navigationlinkscontainer {
  padding: var(--card-border-radius) 0;
  /* position: absolute;
  bottom: 0; */
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navlinksul {
  display: flex;
  white-space: nowrap;
  gap: 0 18px;
  flex-wrap: wrap;
  align-items: center;
}

.navlinkli:hover {
  text-decoration: underline;
}

.navlinkli {
  color: var(--feedtext);
  list-style-type: circle;
}

.navlinktext {
  color: var(--feedtext);
  text-transform: capitalize;
  font-size: 0.8rem;
}

.copyrightheadline {
  text-transform: uppercase;
  color: var(--feedtext);
}

.usersuggestion-profiledetails-cards {
  padding: var(--border-radius-3);
  border: 2px solid var(--lightgrey);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 20vw;
  position: relative;
  right: 1.3rem;
  display: none;
  z-index: 1;
  background: var(--primary-black);
  /* margin: 1rem 0; */
}

.suggested-user-activity {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.usersuggestion-profiledetails-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.followers-activity-details-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.followers-activity-details-container::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--darkgrey);
  /* border: 1px solid var(--darkgrey); */
  position: absolute;
  top: 5rem;
}

.followers-activity-details-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: var(--darkgrey);
  /* border: 1px solid var(--darkgrey); */
  position: absolute;
  top: 9rem;
}

.suggested-users-posts,
.suggested-users-following,
.suggested-users-followers {
  text-align: center;
  text-transform: capitalize;
}

.userpicscontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-content: center;
  gap: 5px;
}

.userprofilepic {
  height: 100%;
  width: 100%;
}

.followbtn {
  background: var(--blue);
  padding: var(--border-radius-2);
  border-radius: 5px;
  text-transform: capitalize;
  color: var(--primary-white);
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  margin: 1rem 0;
  width: 100%;
}

#firstprofileusernamedetails.showhide,
#secondprofileusernamedetails.showhide,
#thirdprofileusernamedetails.showhide,
#fourthprofileusernamedetails.showhide {
  display: flex;
  transition: all 0.3s ease;
}

.usersuggestion-profilecard .photobox {
  border-radius: 50%;
  /* background: linear-gradient(var(--lineargradient)); */
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.3rem;
  width: 3.3rem;
}

.usersuggestion-profilecard .photobox .profilepic {
  height: 3rem;
  width: 3rem;
  border: 1px solid var(--primary-black);
  border-radius: 50px;
}

/* ====================== feed content main section ====================== */
.feedcontentmaincontainer {
  padding: var(--card-border-radius) var(--card-padding);
}

.story-scroll-container {
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  padding: 2rem 0;
  margin: 0 0 2rem;
}

.stories-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: absolute;
  left: 0;
  transition: all 0.3s ease;
}

.story .photobox {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  background: linear-gradient(var(--lineargradient));
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.suggested-user-activity .photobox .profilepic,
.story .photobox .profilepic {
  height: 3.7rem;
  width: 3.7rem;
  border-radius: 50px;
  border: 2px solid var(--primary-black);
}

.storyscrollbtns {
  background: #fff;
  color: #999;
  border-radius: 50%;
  padding: 3px 7px;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 0 10px #999;
  position: relative;
  bottom: 0.5rem;
  border: none;
  margin: 0 1rem;
}

.story .storyusername {
  white-space: nowrap;
  width: 4rem;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
}

.posts-container {
  border-bottom: 1px solid var(--feedtext);
  /* min-height: 100vh; */
  width: 80%;
  display: block;
  margin: 1rem auto;
}

.posts-maincontent-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.posted-userdetails-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.posted-userdetails-box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.posted-userdetails-box .photobox .profilepic {
  height: 3rem;
  width: 3rem;
  border-radius: 50px;
}

.userdetails-inner-box .location {
  text-transform: capitalize;
}

.timestamp {
  color: var(--feedtext);
  font-weight: bold;
}

.timestamp::before {
  content: ".";
  position: relative;
  bottom: 0.1rem;
}

.posted-userdetails-box .photobox {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  background: linear-gradient(var(--lineargradient));
  padding: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.post-activity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-activity-inner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.posts-otheroptions-container svg,
.likeicon,
.commenticon,
.shareicon,
.saveicon {
  cursor: pointer;
}

.currentlikesactivity,
.userpostcaptioncontainer {
  display: flex;
  align-items: center;
}

.usercaptiontext {
  text-transform: capitalize;
  font-size: 0.9rem;
  font-weight: 600;
  cursor: text;
}

.captions-otherdetails-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

#postcommentinputfield {
  width: 100%;
  background: var(--primary-black);
  color: var(--primary-white);
  /* border-bottom: 1px solid var(--feedtext); */
  padding: 0 0 15px;
}
